/****** Ekstra ******/

#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6,
.index-top-block-slogan {
  margin: 1.5em 0 0.5em 0em !important;
  line-height: 1.3 !important;
  font-family: Ubuntu, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#post-content p,
#post-content ul,
#post-content ol,
#post-content dl,
#post-content table,
#post-content blockquote,
.article-headline-p,
.post_category-link,
.post_entry-content :first-child {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-size: 105%;
}

#post-content p,
#post-content ul,
#post-content ol,
#post-content dl,
#post-content pre,
#post-content table,
#post-content blockquote {
    margin: 0em 0em 1.7em 0em !important;
}

.post_entry-content a {
  font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
}

em,
quote,
quote p,
blockquote,
blockquote p {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 100%;
}

#post-content a {
  text-decoration: none;
  color: #424242;
}

#post-content p a:after,
#post-content ol a:after,
#post-content ul a:after,
#post-content dl a:after,
#post-content table a:after,
#post-content blockquote a:after {
  position: relative;
  content: "°";
  margin-left: .05em;
  font-size: 90%;
  top: -0.10em;
  color: #00796b;
}

pre, code {
  font-size: 95%;
}

pre code {
  font-size: 95%;
}

#footnotes * {
  font-family: Roboto;
  word-break: break;
}


